<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".BeatifyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:icon="@mipmap/night_icon"
        android:roundIcon="@mipmap/night_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Beatify"
        tools:targetApi="31">

        <activity
            android:name=".presentation.activity.MainActivity"
            android:theme="@style/Theme.Beatify.Splash" />

        <service
            android:enabled="true"
            android:exported="false"
            android:name=".services.MusicService" />

        <activity-alias
            android:name=".LtMode"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:icon="@mipmap/light_icon"
            android:roundIcon="@mipmap/light_icon_round"
            android:targetActivity=".presentation.activity.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity-alias>

        <activity-alias
            android:name=".NtMode"
            android:enabled="false"
            android:exported="true"
            android:label="@string/app_name"
            android:icon="@mipmap/night_icon"
            android:roundIcon="@mipmap/night_icon_round"
            android:targetActivity=".presentation.activity.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity-alias>

    </application>

</manifest>