<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:icon="@mipmap/night_icon"
        android:roundIcon="@mipmap/night_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Beatify"
        tools:targetApi="31">
        <activity
            android:name=".activities.MainActivity"
            android:enabled="true"
            android:exported="true"
            android:theme="@style/Theme.Beatify.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:enabled="true"
            android:exported="false"
            android:name=".services.MusicPlayer" />

        <!--<activity-alias
            android:name=".alias.LtMode"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:icon="@mipmap/light_icon"
            android:roundIcon="@mipmap/light_icon_round"
            android:targetActivity=".activities.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity-alias>

        <activity-alias
            android:name=".alias.NtMode"
            android:enabled="false"
            android:exported="true"
            android:label="@string/app_name"
            android:icon="@mipmap/night_icon"
            android:roundIcon="@mipmap/night_icon_round"
            android:targetActivity=".activities.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity-alias>-->

    </application>

</manifest>